h1 {
    color: #1D8500;
}

.p {
    font-size: em 3;
}

hr {
    color: 1D8500;
}

table {
    border-color: #1D8500;
    border-width: 3px;
    border-style: solid;
}

body {
    background: #85116F;
    font-family: 'Special Elite', cursive;
}